*
{
    margin: 0;
    padding: 0;
    font-family:'poppins' , sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image:url(HH2.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    width: 180px;
    position: relative;
    top: 100%;
    padding: 0px 0;
    cursor: pointer;
}
.content{
    top: 70%;
    padding-left: 4%;
    position: absolute;
    font-weight: bolder;
    word-spacing: normal;
    transform: translateY(-50%);
    color: #000;
}

/* .content p {
    color: white;
} */


.content h1{
    font-size: 30px; 
    font-weight: 500;
    color: orangered;
}
.content button{
    background: orangered;
    border: 3px solid #000;
    outline: black;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.launch-time{
    display: flex;
    /* color: #fff; */
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

@media only screen and (max-width: 820px) {
    .content p, .launch-time {
        color: #fff;
    }
}